<style>
    .modal-content {
        background-color: #212121;
    }
</style>

<!-- ovaj html cemo importovati gdje treba radi citljivosti-->
<!-- pomocu ovog id-a u donjoj liniji mi modale mozemo zvati u drugim html fileovima, reko njegovog id-a -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ item.name }}
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color:antiquewhite">x</span>
                  <!-- dodao sam ovdje obicno slovo i ovu boju jer njegovo nisam mogao naci da prekucam
                        jer nema ovog koda na gitu mu-->
                </button>
            </div>
            <div class="modal-body">
                <!-- Here goes the text/paragraph -->
                {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- ovaj modal nam izbacuje sigurnosnu konfirmaciju za usera da li je siguran da zeli kupiti neki item-->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ item.name }}
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color:antiquewhite">x</span>
                  <!-- dodao sam ovdje obicno slovo i ovu boju jer njegovo nisam mogao naci da prekucam
                        jer nema ovog koda na gitu mu-->
                </button>
            </div>
            <div class="modal-body">
                <!-- Here goes the text/paragraph -->
                Are you sure you want to buy {{ item.name }} for {{ item.price }}$ ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>