{% extends "base.html" %} 
<!-- 
    "extends" uzima base.html kod i stavlja ga ovdje
    tehnicki  imas jedan html a ovdje samo kockice slazes, lego :D
-->
{% block title %} 
    Home Page
{% endblock %}
<!-- 
    block je kljucna rijec koja oznacava jedan prostor u html kodu
    koji se extendna (base.html). Ovaj blok se "zove" title
    i on ce onaj html kod koji mi ovdje napisemo staviti na mjesto bloka koji se zove title
    i koji se nalazi base.html fileu. Makes sense
-->
{% block content %}
    This is our content for the Home Page
{% endblock%}
<!-- Ista prica kao gore-->